// global color tokens

$-clr-dark-navy: hsl(202, 32.5%, 15.1%);
$-clr-semi-dark-navy: hsl(199, 35.4%, 18.8%);
$-clr-silver: hsl(198, 23.4%, 72.4%);
$-clr-silver-hover: hsl(197, 33.3%, 89.4%);
$-clr-light-blue: hsl(178, 59.8%, 47.8%);
$-clr-light-blue-hover: hsl(178, 75%, 65.5%);
$-clr-light-yellow: hsl(39, 87.8%, 58.2%);
$-clr-light-yellow-hover: hsl(39, 100%, 68.8%);

$light: (
  "neutral": (
    "300": $-clr-silver-hover,
    "400": $-clr-silver,
    "800": $-clr-semi-dark-navy,
    "900": $-clr-dark-navy,
  ),
  "accent": (
    "400": $-clr-light-yellow,
    "500": $-clr-light-yellow-hover,
  ),
  "primary": (
    "400": $-clr-light-blue,
    "500": $-clr-light-blue-hover,
  ),
);

// contextual color tokens
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);

$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
