---
import Layout from "../layouts/BaseLayout.astro";
import NewGameSection from "../components/NewGameSection.astro";
import Game from "../components/Game.astro";
---

<Layout title="Frontend Mentor | Tic Tac Toe">
  <h1 class="visually-hidden" tabindex="-1">Tic Tae Toe Game</h1>
  <NewGameSection />
  <Game />
</Layout>

<style lang="scss">
  @use "../styles/abstracts/" as *;
</style>
