---
import Icons from "../components/Icons.astro";
import PlayerMarkPicker from "../components/PlayerMarkPicker.astro";
import Button from "../components/Button.astro";
---

<div class="container hidden">
  <div class="new-game js-new-game">
    <Icons />

    <PlayerMarkPicker />

    <div class="new-game__buttons">
      <Button theme="primary" themeNumber="one" customJsClass="js-play-vs-cpu"
        >New Game (vs CPU)</Button
      >
      <Button
        theme="primary"
        themeNumber="two"
        customJsClass="js-play-vs-player">New Game (vs player)</Button
      >
    </div>
  </div>
</div>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .new-game {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $size-8;

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: $size-5;
    }
  }
</style>
