@font-face {
  font-family: "Outfit";
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Outfit-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Outfit-Bold.ttf") format("truetype");
}
