@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
  letter-spacing: $letter-spacing-400;
  text-transform: $body-text-transform;

  display: flex;
  flex-direction: column;
}

main {
  margin-block: $size-6;
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  color: $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}
